<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>STOREACE - Отгружено</title>
</head>

<head th:insert="blocks\head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent"
         th:insert="blocks/navLeft :: nav"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navTop :: nav"></div>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Отгружено</h3>
                <div class="row mb-5px">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Клиент</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-200px">
                        <label class="col-form-label text-center text-dark">
                            <strong>Дата</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-200px">
                        <label class="col-form-label text-center text-dark">
                            <strong>Стоимость заказа</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-200px">
                        <label class="col-form-label text-center text-dark">
                            <strong>Количество</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-80px"></div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-90px"></div>
                </div>
                <div th:each="shipped : ${shippeds}" class="row mb-5px">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <input th:value="${shipped.client.fio}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-200px">
                        <input th:value="${shipped.date}" class="form-control" type="date" readonly>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-200px">
                        <input th:value="${shipped.fullPrice}" class="form-control" type="number" readonly>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-200px">
                        <input th:value="${shipped.fullQuantity}" class="form-control" type="number" readonly>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-80px">
                        <a th:href="'/ordering/' + ${shipped.id} + '/detail'"
                           class="btn btn-outline-primary btn-sm fs-16px" type="submit">Детали</a>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-90px">
                        <a th:href="'/shipped/' + ${shipped.id} + '/delete'"
                           class="btn btn-outline-danger btn-sm fs-16px" type="submit">Удалить</a>
                    </div>
                </div>
                <hr>
                <div class="row mb-5px black">
                    <div class="col d-lg-flex justify-content-lg-start align-items-lg-start">
                        <span class="justify-content-lg-start">Суммарная стоимость всех заказов:&nbsp;</span>
                        <span th:text="${price}" class="justify-content-lg-end"></span>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-start align-items-lg-start">
                        <span class="justify-content-lg-start">Суммарная количество всех заказов:&nbsp;</span>
                        <span th:text="${quantity}" class="justify-content-lg-end"></span>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="blocks\footer :: footer"
                class="bg-white d-lg-flex justify-content-lg-center align-items-lg-center sticky-footer mxh-40px">
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>