<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>STOREACE - Статистика заказов</title>
</head>

<head th:insert="blocks\head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent"
         th:insert="blocks/navLeft :: nav"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navTop :: nav"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-11">
                        <h3 class="text-dark mb-4">Статистика по времени отгрузки</h3>
                    </div>
                    <div class="col-1 d-lg-flex justify-content-lg-center align-items-lg-center">
                        <a href="/statCycle" class="btn btn-outline-primary" type="submit">Назад</a>
                    </div>
                </div>
                <hr>
                <div class="row mb-5px">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>ИД заказа</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Дата начало отгрузки</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Длительность отгрузки</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <label class="col-form-label text-center text-dark">
                            <strong>Дата полной отгрузки</strong>
                        </label>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-80px"></div>
                </div>
                <div th:each="cycle : ${cycles}" class="row mb-5px">
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <input th:value="${cycle.ordering.getId()}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <input th:value="${simpleDateFormat.format(cycle.shipment.getTime())}" class="form-control"
                               type="text" readonly>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <input th:value="${cycle.shipmentTime}" class="form-control"
                               type="text" readonly>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                        <input th:if="${cycle.shipped != null}"
                               th:value="${simpleDateFormat.format(cycle.shipped.getTime())}" class="form-control"
                               type="text" readonly>
                        <input th:if="${cycle.shipped == null}"
                               value="0" class="form-control" type="text" readonly>
                    </div>
                    <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mxw-80px">
                        <a th:href="'/ordering/' + ${cycle.ordering.getId()} + '/detail'"
                           class="btn btn-outline-primary btn-sm fs-16px" type="submit">
                            Детали
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="blocks\footer :: footer"
                class="bg-white d-lg-flex justify-content-lg-center align-items-lg-center sticky-footer mxh-40px">
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>