<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Статистика заказов</title>
</head>

<head th:insert="blocks\head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent"
         th:insert="blocks/navLeft :: nav"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navTop :: nav"></div>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Статистика</h3>
                <hr>
                <h4>Статусы заказов</h4>
                <div class="row">
                    <div th:each="os : ${orderingStatuses}" class="col" align="center"><span
                            th:text="${os.name}"></span></div>
                </div>
                <div class="row">
                    <div class="col" align="right"><span id="orderingStatus0" th:text="${orderingStatus.get(0)}"></span>
                    </div>
                    <div class="col" align="right"><span id="orderingStatus1" th:text="${orderingStatus.get(1)}"></span>
                    </div>
                    <div class="col" align="right"><span id="orderingStatus2" th:text="${orderingStatus.get(2)}"></span>
                    </div>
                    <div class="col" align="right"><span id="orderingStatus3" th:text="${orderingStatus.get(3)}"></span>
                    </div>
                    <div class="col" align="right"><span id="orderingStatus4" th:text="${orderingStatus.get(4)}"></span>
                    </div>
                    <div class="col" align="right"><span id="orderingStatus5" th:text="${orderingStatus.get(5)}"></span>
                    </div>
                </div>
                <hr>
                <div id="orderingStatus" style="width: 100%; height: 500px;"></div>
                <hr>
                <h4>Цена заказов</h4>
                <div class="row">
                    <div th:each="os : ${orderingStatuses}" class="col" align="center"><span
                            th:text="${os.name}"></span></div>
                </div>
                <div class="row">
                    <div class="col" align="right"><span id="orderingPrice0" th:text="${orderingPrice[0]}"></span></div>
                    <div class="col" align="right"><span id="orderingPrice1" th:text="${orderingPrice[1]}"></span></div>
                    <div class="col" align="right"><span id="orderingPrice2" th:text="${orderingPrice[2]}"></span></div>
                    <div class="col" align="right"><span id="orderingPrice3" th:text="${orderingPrice[3]}"></span></div>
                    <div class="col" align="right"><span id="orderingPrice4" th:text="${orderingPrice[4]}"></span></div>
                    <div class="col" align="right"><span id="orderingPrice5" th:text="${orderingPrice[5]}"></span></div>
                </div>
                <hr>
                <div id="orderingPrice" style="width: 100%; height: 500px;"></div>
                <hr>
                <h4>Состояние товаров</h4>
                <div class="row">
                    <div th:each="ps : ${productStatuses}" class="col" align="center"><span th:text="${ps.name}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col" align="right"><span id="productStatus0" th:text="${productStatus[1]}"></span></div>
                    <div class="col" align="right">
                        <span id="productStatus1" th:text="${productStatus[1] - productStatus[2] - productStatus[3]}"></span>
                    </div>
                    <div class="col" align="right"><span id="productStatus2" th:text="${productStatus[2]}"></span></div>
                    <div class="col" align="right"><span id="productStatus3" th:text="${productStatus[3]}"></span></div>
                </div>
                <hr>
                <div id="productStatus" style="width: 100%; height: 500px;"></div>
                <hr>
            </div>
        </div>
        <footer th:insert="blocks\footer :: footer"
                class="bg-white d-lg-flex justify-content-lg-center align-items-lg-center sticky-footer mxh-40px">
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/stat.js"></script>

</body>

</html>